<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VectorB4.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <VectorB4.Properties.Settings>
            <setting name="SettingRadius" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="SettingSpeed" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="SettingStep" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SettingRetire" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SettingRepeats" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SettingRepeatStep" serializeAs="String">
                <value>0.05</value>
            </setting>
        </VectorB4.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <VectorB4.Properties.Settings>
            <setting name="BottomLabelText" serializeAs="String">
                <value>ООО "Аум сим рикё" и ПБОЮЛ "Китеж" по заказу от ООО "Space X" Калифорния. Москва. 2026.</value>
            </setting>
            <setting name="OutputScanerFile" serializeAs="String">
                <value>scaner.tap</value>
            </setting>
            <setting name="InputOblakoFile" serializeAs="String">
                <value>oblako.txt</value>
            </setting>
            <setting name="OutputDXFFile" serializeAs="String">
                <value>line.dxf</value>
            </setting>
            <setting name="InputGCodeTapFile" serializeAs="String">
                <value>G-Code.tap</value>
            </setting>
        </VectorB4.Properties.Settings>
    </applicationSettings>
</configuration>
